@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

body {
    font-family: 'Zen Loop', cursive;
}

.row {
    border: red solid 2px;
}

.column {
    border: aqua solid 2px;
}

.test {
    background-color: red;
}

/* NAV BAR START */

.navbar {
    font-size: 2rem;
    background: mintcream;
}

.navbar-brand {
    font-size: 3.4rem;
    letter-spacing: 2px;
}

/* 

FROM LINE 27 TO LINE 55
TODO - Need to make the colour scheme match, but the colour scheme will be used at the end of the website 
*/

.nav-link {
    color: black;
    letter-spacing: 2px;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.175rem;
    left: 0;
    bottom: 0;
    background-color: black;
    transform: scale(0, 1);
    transition: transform 0.7s ease;
}

.nav-link:hover::after {
    transform: scale(1, 1);
}

/* TODO - Find a good colour for the font to change into when on hover. */

.nav-link:hover {
    color: red;
    font-weight: bold;
}

.active::after {
    background-color: red;
    transform: scale(1, 1);
}

/* NAV BAR END */

/* --  CLASSES SECTION START *****DESKTOP****** */

.bkground-img {
    height: 80vh;
    background-image: url('/assets/images/website-images/yoga-pose-marmaid-on-rock.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.position-relative-fix {
    position: relative;
}

.position-absolute-fix {
    position: absolute;
    top: 5vh;
    left: 20vw;
}

.bkground-colour {
    background-color: #f8f8f8;
}

/* --  CLASSES SECTION END *****DESKTOP****** */

/* Media Queries */

@media only screen and (max-width: 400px) {
    .navbar {
        font-size: 1.8rem;
    }

    .navbar-brand {
        font-size: 2.4rem;
    }
}

@media only screen and (max-width: 600px) {
    .navbar-brand {
        font-size: 2.8rem;
    }

    .nav-link::after {
        width: 50%;
    }
}

@media only screen and (max-width: 992px) {
    .nav-link::after {
        width: 7rem;
    }
}

@media only screen and (max-width: 768px) {
    .bkground-img {
        background-image: url('/assets/images/website-images/alex-in-bamboo-seat.jpeg');
    }
}
