@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

/* Test Styles (to be deleted) START - All Devices */

.row {
    border: red solid 2px;
}

.column {
    border: aqua solid 2px;
}

.test {
    background-color: red;
}

/* Test Styles (to be deleted) END - All Devices */

/* Main Styling START - All Devices */

body {
    font-family: 'Zen Loop', cursive;
    background-color: #fffff0;
    color: black;
}

/* Main Styling END - All Devices */

/* Nav Bar START - All Devices */

.navbar {
    background-color: #d8d3cd;
    font-size: 1.4rem;
}

.navbar-brand {
    font-size: 4rem;
    letter-spacing: 2px;
    color: black;
}

.nav-link {
    color: black;
    letter-spacing: 2px;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.175rem;
    left: 0;
    bottom: 0;
    background-color: black;
    transform: scale(0, 1);
    transition: transform 0.7s ease;
}

.nav-link:hover::after {
    transform: scale(1, 1);
}

.nav-link:hover {
    color: white;
    font-weight: bold;
}

.active::after {
    background-color: white;
    transform: scale(1, 1);
}

/* Nav Bar END - All Devices */

/* Hero Image Section START - All Devices */

.container-fluid-hero-img-md {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 1rem;
    width: 100vw;
}

.bkground-img-md {
    height: 80vh;
    width: 100%;
    background-image: url('/assets/images/website-images/yoga-pose-marmaid-on-rock.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-me-sm {
    background-color: #fffff0;
}

.rotate {
    transform: rotate(-20deg);
    /* Safari */
    -webkit-transform: rotate(-20deg);

    /* Firefox */
    -moz-transform: rotate(-20deg);

    /* IE */
    -ms-transform: rotate(-20deg);

    /* Opera */
    -o-transform: rotate(-20deg);
}

/* Hero Image Section END - All Devices */

/* About Me Section START - Mobile and Tablets */

.about-me-heading-sm {
    font-size: 3rem;
    font-family: 'Oooh Baby', cursive;
}

.about-me-text-main-sm {
    font-size: 1.4rem;
}

.about-me-text-cursive-sm {
    font-size: 1.8rem;
    font-family: 'Oooh Baby', cursive;
}

.btm-about-me-img-sm {
    margin-top: 10rem;
    width: 100%;
    height: 100vh;
    background-color: pink;
    background-image: url('/assets/images/website-images/childs-pose-test.png');
    background-size: cover;
    background-position: center center;
    position: relative;
}

.blend-background-sm {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 240, 1), rgba(255, 255, 240, 0));
}

/* About Me Section END - Mobile and Tablets */

/* About Me Section START - Laptops */

.about-me-heading-lg {
    margin-top: 6rem;
    font-size: 6rem;
    font-family: 'Oooh Baby', cursive;
}

.about-me-text-main-lg {
    font-size: 1.6rem;
}

.about-me-text-cursive-lg {
    margin-top: 5rem;
    font-family: 'Oooh Baby', cursive;
    font-size: 1.8rem;
}

.btm-about-me-img-lg {
    margin-top: 20rem;
    width: 100%;
    height: 100vh;
    background-color: pink;
    background-image: url('/assets/images/website-images/childs-pose-test.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

.blend-background-lg {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255, 255, 240, 1), rgba(255, 255, 240, 0));
}

/* About Me Section END - Laptops */

/* Class Schedule Section START - Mobile and Tablets */

.yoga-classes-container {
    font-size: 1.5rem;
    margin-top: 15em;
}

.size-image {
    height: 12rem;
    width: 17rem;
}

.card-body > h5 {
    font-size: 1.7rem;
}

/* Event Section START - Mobile and Tablet Devices */

.events-bkground-img-sm {
    margin-top: 10rem;
    width: 100%;
    height: 100vh;
    background-color: pink;
    background-image: url('/assets/images/website-images/yoga-pose-on-rock-sunset.png');
    background-size: cover;
    background-position: center center;
    position: relative;
}

.glass-sm {
    padding: 0.5em;
    position: absolute;
    bottom: 100;
    left: 20;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
    color: #fffff0;
    font-size: 1.8rem;
}

/* Event Section End - Mobile and Tablet Devices */

/* Event Section START - Desktop Devices */

.events-bkground-img {
    margin-top: 30rem;
    height: 100vh;
    background-color: pink;
    background-image: url('/assets/images/website-images/yoga-pose-on-rock-sunset-two.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.glass {
    position: absolute;
    top: 50%;
    left: 33%;
    width: 35rem;
    z-index: 2;
    font-size: 3rem;
    letter-spacing: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
    text-align: center;
}

.flexbox.container {
    display: flex;
}

/*TODO
FIX THE POSITION OF THE GLASS CONTAINER ON DESKTOP------ FLEXBOX???
*/

/* Event Section END - Desktop Devices */
