@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* font-family: 'Homemade Apple', cursive; */

body {
    font-family: 'Zen Loop', cursive;
    background-color: #d8d3cd;
}

.row {
    border: red solid 2px;
}

.column {
    border: aqua solid 2px;
}

.test {
    background-color: red;
}

/* NAV BAR START */

.navbar {
    font-size: 2rem;
    background: #e0ece4;
}

.navbar-brand {
    font-size: 4rem;
    letter-spacing: 2px;
}

/* 

FROM LINE 27 TO LINE 55
TODO - Need to make the colour scheme match, but the colour scheme will be used at the end of the website 
*/

.nav-link {
    color: black;
    letter-spacing: 2px;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.175rem;
    left: 0;
    bottom: 0;
    background-color: black;
    transform: scale(0, 1);
    transition: transform 0.7s ease;
}

.nav-link:hover::after {
    transform: scale(1, 1);
}

/* TODO - Find a good colour for the font to change into when on hover. */

.nav-link:hover {
    color: red;
    font-weight: bold;
}

.active::after {
    background-color: red;
    transform: scale(1, 1);
}

/* NAV BAR END */

/* Hero Image Section Mobile and Tablets START */

.card {
    border: 1px solid transparent;
    background-color: #e7cbae;
}

.overlay-bkground-sm {
    background-color: rgba(255, 255, 255, 0.75);
    max-width: 13rem;
    max-height: 10rem;
}

.overlay-text-sm {
    font-family: 'Questrial', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
}

/* Hero Image Section Mobile END */
